{% load i18n %}

<fieldset class="module module_resumos caixa">
    <input type="hidden" class="url_caixa" value="{{ request.path_info }}" />

    <h2>{% block title %}{{ query.title }}{% endblock %}</h2>

    <div class="interno">
        {% block content %}
        <div class="inner">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                width="100%" height="220" id="ofc" align="middle">

            	<param name="allowScriptAccess" value="sameDomain" />
                <param name="movie" value="{{ OPENFLASHCHART_SWF_URL }}" />
    	        <param name="quality" value="high" />
                <param name="flashvars" value="data-file={{ data_url }}&loading={% trans "Loading..." %}" />
                <embed width="100%" height="220"
                    flashvars="data-file={{ data_url }}&loading={% trans "Loading..." %}"
                    quality="high" bgcolor="#FFFFFF" name="ofc" id="ofc" style=""
                    src="{{ OPENFLASHCHART_SWF_URL }}"
                    type="application/x-shockwave-flash"/>
            </object>
        </div>
        {% endblock content %}
    </div>
</fieldset>

